{% comment %}
  Renders an assembly collection card

  Accepts:
  - collection: {Object} Collection Liquid object

  Usage:
  {% render 'assembly-collection' %}
{% endcomment %}

<div class="assembly-collection">
  <h2>{{- collection.title | escape -}}</h2>
  {%- for product in collections -%}
    <h3>{{- product.title -}}</h3>
  {%- endfor -%}
</div>
